@import "_mixins";

h1 {
  color: red;
  @include super("Iphone") {
    color: yellow;
  }
  @include super("Iphone-l") {
    color: green;
  }
  @include super("Tablet") {
    color: blue;
  }
  @include super("Tablet-l") {
    color: thistle;
  }
}
